@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200;1,400&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body{
	font-family: 'Poppins', sans-serif;
	background: #eee;
	padding: 3rem;
}

.logout{
	position: relative;
	margin-right: 15px;
	top: -45px;
	float: right;
}